@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.Domestic-dark-1-hex { color: #0D090C; }
.Domestic-dark-2-hex { color: #2D2A8C; }
.Domestic-dark-3-hex { color: #2E2C73; }
.Domestic-dark-4-hex { color: #736E6C; }
.Domestic-dark-5-hex { color: #F2F2F2; }

*{
    padding: 0%;
    margin: 0%;
    font-family: "DM Sans", sans-serif;
    
}

body{
    background-color: #2D2A8C;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}
.headerclass{
    background-color: #2E2C73;
    border-bottom: #736E6C 3px solid;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5vw;
}
svg{
    height: 5vw;
    width: 5vw;
    color: #736E6C;
}
.titulo{
    color: #F2F2F2;
    font-size: 13vh;

}

.mainvideos{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.video-container {
    flex: 1 1 45%;
    max-width: 40VW;
    box-sizing: border-box;
    text-align: center;
    color: #F2F2F2;
    margin-left: 30px;
    margin-bottom: 10vh;
}

iframe {
    transition: 200ms;
    width: 100%;
    height: 315px;
    border: none;
    display: block;
    border-radius: 15px;
    margin-bottom: 1vh;
}
iframe:hover{
    transition: 300ms;
    border: #F2F2F2 solid 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px #F2F2F2;
    
}
.videos-grid {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 40px;
}
footer{
    background-color: #2e2c2bb1;
    color: #F2F2F2;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}